include dash_solana_components/dash_solana_components.min.js
include dash_solana_components/dash_solana_components.min.js.map
include dash_solana_components/async-*.js
include dash_solana_components/async-*.js.map
include dash_solana_components/*-shared.js
include dash_solana_components/*-shared.js.map
include dash_solana_components/metadata.json
include dash_solana_components/package-info.json
include README.md
include LICENSE
include package.json
